[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/libuv/libuv
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/kbranigan/cJSON
[submodule "lib/haywire"]
	path = lib/haywire
	url = https://github.com/kellabyte/Haywire.git
